/* @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');  */
@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Baskerville&display=swap');







body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-weight: 300;
}
nav{
    background-color: #C54633;
    z-index: 999;
    box-shadow: 0px 0px 10px gray;
}
.navbar-toggler{
    background-color: #EEC8C2;
    border-radius: 10px;
    line-height: 1.5;
}

.navbar-toggler:focus{
    box-shadow: none;
}
.navbar-light .navbar-toggler-icon {
    background-image: url(/assets/images/dr.png);
    color: rgb(255, 255, 255);
    background-color: #EEC8C2;
    padding: 0;
}
.navbar-light .navbar-toggler{
    border-color: none;
}
.nav-link{
    color: #fff !important;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 17px;
    margin: 0 10px;
}
@media only screen and (max-width:) {
    
}

img{
    max-width: 100%;
}
a{
    color: #000;
}
h1,.crow_heading{
    font-family: 'Fjalla One', sans-serif;
    text-transform: uppercase;
}
h2{
    font-family: 'Libre Baskerville';
}
.content_wrapper_2{
    display: none;
}
.banner-para{
    color: #000;
    text-shadow: rgb(0 0 0 / 50%) 2px 2px 6px;;
    font-weight: bold !important;
    font-size: max(0.9vw,18px);
    max-width: 600px;
}
.banner-para2{
   
    color: #000;
    font-weight: bolder !important;
    font-size: max(1vw,16px);
}
.crow_1{
    color: #fff;
    text-align: left;
    position: relative;
}
.content_wrapper{
    box-sizing: border-box;
    padding: 30px;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
}
.crow_1wrapper{
    
    position: relative;
    
}
.banner-image{
    width: 100%;
    margin-top: -90px;
}

.banner-image2{
    width: 100%;
    object-fit: cover;
    display: none;
}

.banner-learnmore{
    text-decoration: none;
    background-color: #fff;
    color: #000;
    text-transform: uppercase;
    padding: 12px;
    font-weight: bold;
    transition: all .2s ease-in-out;
    box-sizing: border-box;
    border: 2px solid #fff;
    font-size: 20px;
    cursor: pointer;
}
.banner-learnmore:hover{
    border: 2px solid #000;
    color: #000;
}
.para-parent{
    display: flex;
    align-items: center;
}
.crow_para{
    font-size: max(18px,1vw);
    
}

.crow_2,.crow_3{
    margin: 20px 0;
}
.crow-img{
    padding: 30px;
    display: flex;
    justify-content: center;
}
.crow-img img{
    max-width: 83%;
}
.crow-img video{
    max-width: 83%;
}
.learn_more_btn{
    text-transform: uppercase;
    font-weight: bolder;
    text-decoration: none;
    margin-top: 20px;
}
.learn_more_btn span {
    width: 50px;
    height: 50px;
    border: 2px solid #C54633; 
    border-radius: 50%;
    line-height: 3;
    margin-left: 20px;
    padding: 5px;
}
.learn_more_btn span svg{
    width: 30px;
    height: 30px;
    transform: translate(-18px,-2px);
    transition: .3s ease-in-out;
}
.learn_more_btn:hover span svg{
    transform: translate(0px,-2px);
}

.bnn_heading{
    color: #000;
    font-size: max(2vw,35px);
    text-transform: uppercase;
    text-shadow: rgb(0 0 0 / 50%) 2px 2px 6px;
    font-weight: bolder;
}
.accordion-button{
    font-size: 1.1rem;
}
.accordion-item {
    border:  solid rgba(0,0,0,.125);
    border-width: 0px 0px 1px 0px;
    margin: 10px 0;
}
.gap{
    margin-top: 50px;
}
.accordion-button:not(.collapsed) {
    color: #C54633;
    background-color: #C5463320;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}
.accordion-button:not(.collapsed)::after {
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%23212529'%3e%3cpath fill-rule='evenodd' d='M1.646 4.646a.5.5 0 0 1 .708 0L8 10.293l5.646-5.647a.5.5 0 0 1 .708.708l-6 6a.5.5 0 0 1-.708 0l-6-6a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
    transform: rotate(-180deg);
}
.accordion-button:focus {
    z-index: 3;
    border-color: rgba(197, 70, 51, 0.125);
    outline: 0px;
    box-shadow: none;
}
footer{
    background-color: #f7f7f7;
    padding: 50px 0;
    margin-top: 50px;
}
ul{
    list-style: none;
    padding-left: 0px;
}


ul li a{
    text-decoration: none;
    font-size: 15px;
    line-height: 1.9;
}

ul li a:hover{   
    color: #C54633;
}
.icon{
    display: inline;
   width: 40px;
   height: 40px;
   margin: 5px;
}

.icon:hover{
    color: #C54633;
}
.icon svg{
    width: 16px;
    height: 18px;
}

.read-more-state {
    display: none;
  }
  
  .read-more-wrap {
    margin: 0;
    font-size: max(18px,0.9vw);
  }
  
  .read-more-target {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
  }
  
  .read-more-state:checked ~ .read-more-target {
    opacity: 1;
    font-size: max(18px,0.9vw);
    max-height: 999em;
    margin-top: 10px;
    
  }
  
  .read-more-state ~ .read-more-trigger:before {
    content: "LEARN MORE";
    
  }
  
  .read-more-state:checked ~ .read-more-trigger:before {
    content: "CLOSE";
  }
  
  .read-more-trigger {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    color: #000;
    font-size:20px;
    
  }
  .read-more-trigger span {
    width: 40px;
    height: 40px;
    border: 3px solid #C54633; 
    border-radius: 50%;
    line-height: 3;
    margin-left: 20px;
    display: inline-block;
    transform: translateY(13px);
}
.read-more-trigger span svg{
    width: 30px;
    height: 30px;
    transform: translate(-18px,-15px);
    transition: .3s ease-in-out;
}
.read-more-trigger:hover span svg{
    transform: translate(2px,-15px);
}




/* 2nd */
.read-more-state2 {
    display: none;
  }
  
  .read-more-wrap2 {
    margin: 0;
    font-size: max(18px,0.9vw);
  }
  
  .read-more-target2 {
    opacity: 0;
    max-height: 0;
    font-size: 0;
    transition: 0.25s ease;
  }
  
  .read-more-state2:checked ~ .read-more-target2 {
    opacity: 1;
    font-size: max(18px,0.9vw);
    max-height: 999em;
    margin-top: 10px;
    
  }
  
  .read-more-state2 ~ .read-more-trigger2:before {
    content: "LEARN MORE";
    
  }
  
  .read-more-state2:checked ~ .read-more-trigger2:before {
    content: "CLOSE";
  }
  
  .read-more-trigger2 {
    font-weight: bold;
    cursor: pointer;
    display: inline-block;
    color: #000;
    font-size:20px;
    
  }
  .read-more-trigger2 span {
    width: 40px;
    height: 40px;
    border: 3px solid #C54633; 
    border-radius: 50%;
    line-height: 3;
    margin-left: 20px;
    display: inline-block;
    transform: translateY(13px);
}
.read-more-trigger2 span svg{
    width: 30px;
    height: 30px;
    transform: translate(-18px,-15px);
    transition: .3s ease-in-out;
}
.read-more-trigger2:hover span svg{
    transform: translate(2px,-15px);
}

#scroll p{
    font-size: 18px;
}
@media only screen and (max-width: 991px) {
    .for-reverse{
        flex-direction: column-reverse !important;
    }
    .content_wrapper{
        display: none;
    }
    .crow_1wrapper{      
        align-items: flex-start;
        text-align: center;
        margin-top: 100px;
        
    }
    .banner-para{
        font-size: 17px;
    }
    .crow_1{    
        background: none;  
        height: fit-content;
    }
    .d-flex{
        justify-content: center;
    }
    
    .banner-image{
        display:none;
    }
    .banner-image2{
        object-fit: contain;
        position: static;
        display: block;
    }
    .content_wrapper_2{
        display: block;
        position: absolute;
        top: 0;
        padding: 0 10px;
        left: 0;
        right: 0;
        margin-top: 100px;
    }
    .bnn_heading{
        font-size:25px;
        color: #000;
    }
    .content_wrapper_2 .banner-para{
        font-size: 20px
    }
    .nav-link{
        margin: 0;
    }
    .navbar>.container, .navbar>.container-fluid, .navbar>.container-lg, .navbar>.container-md, .navbar>.container-sm, .navbar>.container-xl, .navbar>.container-xxl{
        align-items: center;
    }
    .navbar-brand{
        align-self: flex-start;
    }
}
@media only screen and (max-width: 500px){
    .crow_1{
        height: fit-content;
    }
    .content_wrapper_2{
        display: block;
        position: absolute;
        top: 0;
    }
    .content_wrapper_2 .banner-para{
        font-size: 14px
    }
    .content_wrapper_2 .banner-learnmore{
        padding: 5px;
        font-size: 12px;
    }
    .banner-learnmore{
        padding: 5px;
        font-size: 12px;
    }
    .bnn_heading{
        font-size: max(1vw,20px)
    }
    #scroll p{
        font-size: 16px;
    }
} 